<div>
  <h1>{{ title }}</h1>
  
  <div class="info">

    <button (click)="onClickPausar()" class="buttonStatus" [ngClass]="{ running: buttonStatus === 'Paused'}"> {{buttonStatus}} </button>

    <button (click)="onClickReset()" class="buttonReset"> RESET </button>

  </div>
  
  <br>

  <div>
    <h3> Game Status: </h3>
    <p> Generación: {{generation}}</p>
    <p> Células vivas: {{aliveCells}}</p>
  </div>

</div>

<br>

<div class="game">
  <div class="row" *ngFor="let row of arrNumRows">
    <div class="col" *ngFor="let col of arrNumCols">
      
      <button (click)="onClick(row,col)" [ngClass]="{ alive: board.status(row, col)}">  </button> 

    </div>
  </div>
</div>